[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
docutils = "*"
pygments = "*"
tox = "*"
tox-globinterpreter = "*"
sphinx = "*"
coverage = "*"
numpydoc = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
